# Source https://community.ovh.com/t/vps-en-ipv6-gateway/28984/10
network:
  version: 2
  ethernets:
    ens3:
      dhcp6: false
      match:
        name: ens3
      addresses:
        - 2001:41d0:304:200::da00/128
      gateway6: 2001:41d0:304:200::1
      routes:
        - to: 2001:41d0:304:200::1
          scope: link