{
    email nicolinux@gmail.com
}

www.voiretmanger.fr, 
nicolasfurno.fr, 
www.nicolasfurno.fr, 
nicolinux.fr, 
www.nicolinux.fr {
    redir https://voiretmanger.fr{uri}/
}


voiretmanger.fr {
    root * /var/www/voiretmanger.fr
    encode zstd gzip
    php_fastcgi 127.0.0.1:9000

    file_server /wp-content/uploads/*
    file_server /wp-content/cache/*

    # Redirect personnels
	redir /a-propos/publicite /soutien
	redir /archives/carte-des-restaurants /a-manger

    header {
        # enable HSTS
        Strict-Transport-Security max-age=31536000;
        # clickjacking protection
        X-Frame-Options DENY
        # keep referrer data off of HTTP connections
        Referrer-Policy no-referrer-when-downgrade
    }

    header /wp-content Cache-Control "public, max-age=2592000, s-maxage=86400"
    header /wp-includes Cache-Control "public, max-age=2592000, s-maxage=86400"
    header favicon.ico Cache-Control "public, max-age=2592000, s-maxage=86400"

}


files.voiretmanger.fr {
    root * /var/www/files.voiretmanger.fr
    encode zstd gzip
    file_server browse
}

memoire.nicolasfurno.fr {
    root * /var/www/memoire.nicolasfurno.fr
    encode zstd gzip
    file_server
}